.loading {
    background: url(../../../images/loading.gif) no-repeat center center;
}

.layoutchoice {
    cursor: pointer;
}

.widget {
    margin-bottom: 10px;
}

.widget span.icons span {
    cursor: pointer;
    top: 1px;
    position: relative;
}

.widget span.icons span i {
    padding-left: 3px;
}

.widget span.icons span {
    opacity: 0.6;
}

.widget span.icons span:hover {
    opacity: 1;
}

.widgetcontent {
    padding: 5px;
}

.dialog .panel-body {
    padding: 15px 0 0 20px;
}

#editLayout {
    padding: 5px 0;
}

#sideMenu {
    position: absolute;
    float: right;
    right: 0;
    margin: 0;
    padding: 0;
}

#sideMenu span {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 2px 10px 3px;
    border: 1px solid #AAA;
    border-right: none;
    background: #CCC url(../../js/jQueryUI/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    color: #666666;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

#sideMenu span:hover {
    color: #000000;
}

#sideMenu ul {
    z-index: 900;
    position: absolute;
    top: 5px;
    right: 0;
    padding: 3px 7px;
    border: 1px solid #AAA;
    border-right: none;
    list-style-type: none;
    background: #CCC url(../../js/jQueryUI/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
}

#sideMenu ul li {
    text-align: right;
    white-space: nowrap;
    margin: 0 0 0 5px;
}

#sideMenu ul li i {
    margin-left: 5px;
    opacity: 0.6;
}

#sideMenu ul li a:hover i {
    opacity: 1;
}

#sideMenu ul {
    display: none;
}

ul.fullscreen {
    margin: 0;
    padding: 0;
}

.column {
    min-height: 0;
    margin: 0 0 0 10px;
    padding: 0 0 40px 0;
}

.selectedcolumn {
    border: none;
    background-color: rgba(200, 200, 200, 0.1);
}

.layout {
    margin-left: -10px;
}

.layout-a {
    margin-left: 0;
}

.layout-a .column {
    width: 100%;
    margin: 0;
}

.layout-aa .column {
    width: 578px;
}

.layout-ba .column {
    width: 770px;
}

.layout-ba .first {
    width: 390px;
}

.layout-ab .column {
    width: 390px;
}

.layout-ab .first {
    width: 770px;
}

.layout-aaa .column {
    width: 383px;
}

.layout-aaa .selectedcolumn {
    width: 381px;
}

@media (max-width: 1200px) {
    .layout-aa .column {
        width: 463px;
    }

    .layout-ba .column {
        width: 620px;
    }

    .layout-ba .first {
        width: 310px;
    }

    .layout-ab .column {
        width: 310px;
    }

    .layout-ab .first {
        width: 620px;
    }

    .layout-aaa .column {
        width: 306px;
    }
}

@media (max-width: 979px) {
    .layout-aa .column {
        width: 355px;
    }

    .layout-ba .column {
        width: 476px;
    }

    .layout-ba .first {
        width: 238px;
    }

    .layout-ab .column {
        width: 238px;
    }

    .layout-ab .first {
        width: 476px;
    }

    .layout-aaa .column {
        width: 234px;
    }
}

@media (max-width: 767px) {
    .layout {
        margin-left: -1%;
    }

    .layout-aa .column {
        width: 48.5%;
        margin-left: 1%;
    }

    .layout-ba .column {
        width: 64.5%;
        margin-left: 1%;
    }

    .layout-ba .first {
        width: 33.5%;
    }

    .layout-ab .column {
        width: 33.5%;
        margin-left: 1%;
    }

    .layout-ab .first {
        width: 64.5%;
    }

    .layout-aaa {
        margin-left: 0;
    }

    .layout-aaa .column {
        width: 100%;
        margin-left: 0;
        padding-bottom: 0;
    }

    .column {
        min-height: 0;
    }
}

@media (max-width: 480px) {
    .layout {
        margin-left: 0;
    }

    .column {
        min-height: 0;
        width: 100%;
        margin-left: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 320px) {
    .layout {
        margin-left: 0;
    }

    .column {
        min-height: 0;
        width: 100%;
        margin-left: 0;
        padding-bottom: 0;
    }
}