.column {
    min-height: 0;
    margin: 0 0 0 10px;
    padding: 0 0 40px 0;
}

.selectedcolumn {
    /*border: 1px dashed #aaaaaa;*/
    border: none;
    background-color: rgba(200, 200, 2000, 0.1);
}

.layout {
    margin-left: -10px;
}

.layout-a {
    margin-left: 0;
}

.layout-a .column {
    width: 100%;
    margin: 0;
}

.layout-aa .column {
    width: 578px;
}

.layout-ba .column {
    width: 770px;
}

.layout-ba .first {
    width: 390px;
}

.layout-ab .column {
    width: 390px;
}

.layout-ab .first {
    width: 770px;
}

.layout-aaa .column {
    width: 383px;
}

.layout-aaa .selectedcolumn {
    width: 381px;
}

@media (max-width: 1200px) {
    .layout-aa .column {
        width: 463px;
    }

    .layout-ba .column {
        width: 620px;
    }

    .layout-ba .first {
        width: 310px;
    }

    .layout-ab .column {
        width: 310px;
    }

    .layout-ab .first {
        width: 620px;
    }

    .layout-aaa .column {
        width: 306px;
    }

    .layout-aaa .selectedcolumn {
        width: 304px;
    }
}

@media (max-width: 979px) {
    .layout-aa .column {
        width: 355px;
    }

    .layout-ba .column {
        width: 476px;
    }

    .layout-ba .first {
        width: 238px;
    }

    .layout-ab .column {
        width: 238px;
    }

    .layout-ab .first {
        width: 476px;
    }

    .layout-aaa .column {
        width: 234px;
    }

    .layout-aaa .selectedcolumn {
        width: 232px;
    }
}

@media (max-width: 767px) {
    .layout {
        margin-left: -1%;
    }

    .layout-aa .column {
        width: 48.5%;
        margin-left: 1%;
    }

    .layout-ba .column {
        width: 64.5%;
        margin-left: 1%;
    }

    .layout-ba .first {
        width: 33.5%;
    }

    .layout-ab .column {
        width: 33.5%;
        margin-left: 1%;
    }

    .layout-ab .first {
        width: 64.5%;
    }

    .layout-aaa {
        margin-left: 0;
    }

    .layout-aaa .column {
        width: 100%;
        margin-left: 0;
    }

    .column {
        min-height: 0;
    }
}

@media (max-width: 480px) {
    .layout {
        margin-left: 0;
    }

    .layout-aa .column,
    .layout-ba .column,
    .layout-ab .column,
    .layout-aaa .column {
        width: 100%;
        margin-left: 0;
    }

    .column {
        min-height: 0;
    }
}

@media (max-width: 320px) {
    .layout {
        margin-left: 0;
    }

    .layout-aa .column,
    .layout-ba .column,
    .layout-ab .column {
        width: 100%;
        margin-left: 0;
    }

    .column {
        min-height: 0;
    }
}