.widget .form-horizontal .control-label {
    width: 60px;
}

.widget .form-horizontal .controls {
    margin-left: 80px;
}

.widget .ui-slider {
    margin-right: 10px;
}

.widgetheader {
    padding: 3px 7px;
}

.widget .ui-icon {
    position: relative;
    top: 2px;
    cursor: pointer;
}

.widget .widgetopenfullscreen {
}

#widgetClock {
    text-align: center;
    margin: 0 auto;
}

#widgetClock .time,
#widgetEggTimer .time {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

#widgetClock .date {
    font-size: 24px;
    font-weight: bold;
}

.widgetRss {
}

.widgetRss ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widgetRss ul li {
    margin-top: 5px;
    line-height: 15px;
}

.widgetRss ul li:first-of-type {
    margin-top: 0;
}

.widgetRss ul li time {
    display: block;
    font-size: 13px;
    opacity: 0.5;
}

#widgetEggTimer {
    margin: 10px auto 0 auto;
    text-align: center;
}

#widgetEggTimer .setup {
    display: none;
}

#widgetEggTimer .counter-wrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#widgetEggTimer .counter-wrapper ul li {
    display: inline-block;
    margin: 0 -8px;
    padding: 0;
    line-height: 60px;
}

#widgetEggTimer .counter-wrapper ul li p {
    margin: 0;
}

#widgetEggTimer form {
    margin: 5px 0 0 0;
}

#widgetEggTimer form button {
    margin-top: 5px;
}

#widgetEggTimer .form-horizontal .control-label {
    padding: 0;
    margin-top: -3px;
}

#widgetEggTimer .form-horizontal .control-group {
    margin-bottom: 5px;
}

.highchartsExampleClass,
.highchartsExampleLiveClass {
    height: 200px;
}
