.dasboard {
    margin-top: 10px;
}

.dasboard .widget {
    border: 1px solid #E5E5E5;
    min-height: 50px;
    padding: 5px;
    margin-bottom: 10px;
}

.dasboard .row {
    margin-left: -10px;
}

[class*="widget"] {
    float: left;
    min-height: 1px;
    margin-left: 10px;
}

.widget1 {
    width: 1155px;
}

.widget2 {
    width: 566px;
}

.widget3 {
    width: 272px;
}

.widget4 {
    width: 125px;
}

@media (max-width: 1200px) {
    .widget1 {
        width: 923px;
    }

    .widget2 {
        width: 450px;
    }

    .widget3 {
        width: 214px;
    }

    .widget4 {
        width: 96px;
    }
}

@media (max-width: 979px) {
    .widget1 {
        width: 710px;
    }

    .widget2 {
        width: 344px;
    }

    .widget3,
    .widget4 {
        width: 161px;
    }
}

@media (max-width: 767px) {
    .dasboard .row {
        margin-left: 0;
    }

    .widget1,
    .widget2,
    .widget3,
    .widget4 {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .dasboard .row {
        margin-left: 0;
    }

    .widget1,
    .widget2,
    .widget3,
    .widget4 {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .dasboard .row {
        margin-left: 0;
    }

    .widget1,
    .widget2,
    .widget3,
    .widget4 {
        width: 100%;
        margin-left: 0;
    }
}