/**
 * Add base CSS definitions here
 */

html,
body {
    height: 100%;
    font-family: 'Cuprum', sans-serif;
    cursor: default;
}

html {
    overflow-y: scroll;
}

footer {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    padding: 10px 0;
    text-align: center;
    z-index: 900;
}

input[type="checkbox"] {
    margin: 2px 0 0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -42px;
    padding: 0;
}

/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
    padding-top: 42px;
}

.push {
    height: 40px;
}

.footer-links {
    margin: 0;
}

.footer-links li:first-child {
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}

.tooltipDivContainer {
    display: none;
}

.alert {
    padding: 10px;
}

.ui-tooltip-rounded,
.ui-tooltip-rounded .ui-tooltip-content {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.ui-tooltip-rounded .ui-tooltip-titlebar {
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.ui-tooltip-rounded .ui-tooltip-titlebar + .ui-tooltip-content {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.ui-widget,
.ui-dialog,
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button,
.ui-dialog input, .ui-dialog select, .ui-dialog textarea, .ui-dialog button {
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
}

.ui-widget-header {
    color: #000000;
}

.ui-dialog-title {
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 0 #ffffff;
}

.ui-widget-content,
.ui-dialog-content {
    font-size: 14px;
    background-color: #FFFFFF;
    background-image: none;
}

.ui-widget-content a {
    color: #0088cc;
    text-decoration: none;
}

.ui-widget-content a:hover {
    color: #005580;
    text-decoration: underline;
}

.ui-widget .ui-slider {
}

.ui-widget-header {
    border-style: none;
}

.ui-dialog .ui-dialog-buttonpane {
    margin: 0 0 0 -2px;
    padding: 5px 3px 3px 0;
    text-align: right;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    width: 100%;
}

.ui-dialog .ui-dialog-titlebar {
    margin: -0.2em;
    margin-bottom: 0;
    padding: 5px 10px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #d2d2d2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d2d2d2));
    background-image: -webkit-linear-gradient(top, #ffffff, #d2d2d2);
    background-image: -o-linear-gradient(top, #ffffff, #d2d2d2);
    background-image: linear-gradient(to bottom, #ffffff, #d2d2d2);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    border: none;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 0 0 5px;
}

.ui-dialog .ui-dialog-content {
    padding: 10px 5px 0 5px;
}

.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog .form-horizontal .control-group {
    margin-bottom: 5px;
}

.ui-dialog .input-append input:focus,
.ui-dialog .input-prepend input:focus,
.ui-dialog .input-append select:focus,
.ui-dialog .input-prepend select:focus,
.ui-dialog .input-append .uneditable-input:focus,
.ui-dialog .input-prepend .uneditable-input:focus {
    z-index: 9999 !important;
}

.ui-dialog .input-append input {
    margin-left: -1px;
}

.btn {
    padding: 5px 10px 3px 10px;
    font-size: 14px;
}

.btn:focus {
    outline: none;
}

.qtip {
    padding: 0;
}

.qtip .qtip-content {
    font-size: 14px;
    line-height: 16px;
}

.tab-content {
    margin-top: 5px;
}

.noty_text {
    font-size: 16px;
}

.text-small {
    font-size: 12px;
    line-height: 15px;
}

.text-mini {
    font-size: 10px;
    line-height: 12px;
}